Repository Finchsize/interniship-4, pull requests merged in 2023-08, with the labels that each got.

#2 I4 6 konfiguracja srodowiska lokalnego zalozenie projektu react
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
Labels: frontend

#3 I4-8-stworz-endpoint-dla-rejestracji-na-backendzie
  backend/pom.xml
  backend/src/main/java/com/example/Application.java
  backend/src/main/java/com/example/CustomHikariConfig.java
  backend/src/main/java/com/example/user/User.java
  backend/src/main/java/com/example/user/UserController.java
  backend/src/main/java/com/example/user/UserRepository.java
  backend/src/main/resources/application.properties
Labels: backend

#4 I4-13-stworz-endpoint-dla-logowania
  backend/src/main/java/com/example/user/UserController.java
  backend/src/main/java/com/example/user/UserRepository.java
  backend/src/main/java/com/example/user/UserService.java
Labels: backend

#5 I4-3 - Create home page layout, add styles
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/prettier.config.js
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Card/Card.tsx
  frontend/src/components/Card/index.ts
  frontend/src/components/shared/Header/Header.tsx
  frontend/src/components/shared/Header/Navbar.tsx
  frontend/src/components/shared/Header/Right/Right.tsx
  frontend/src/components/shared/Header/Right/Status.tsx
  frontend/src/components/shared/Header/Right/index.ts
  frontend/src/components/shared/Header/index.ts
  frontend/src/fonts/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2
  frontend/src/images/co-background.jpg
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/pages/HomePage.tsx
  frontend/src/styles/index.css
  frontend/tailwind.config.js
Labels: frontend

#6 I4-26-routing
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.tsx
Labels: frontend

#7 I4-31 - Create `/online` endpoint
  backend/src/main/java/com/example/user/Online.java
  backend/src/main/java/com/example/user/UserController.java
  backend/src/main/java/com/example/user/UserService.java
Labels: backend

#10 I4-35 - Dopracuj wygląd strony
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Button/index.tsx
  frontend/src/components/Card/Card.tsx
  frontend/src/components/Card/index.ts
  frontend/src/components/Card/index.tsx
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/components/shared/Header/Header.tsx
  frontend/src/components/shared/Header/Navbar.tsx
  frontend/src/components/shared/Header/Right/Right.tsx
  frontend/src/components/shared/Header/Right/Status.tsx
  frontend/src/components/shared/Header/Right/index.ts
  frontend/src/components/shared/Header/Right/index.tsx
  frontend/src/index.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/styles/index.css
Labels: frontend

#16 I4-38 - Add styles to register page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Layouts/Layout/Layout.tsx
  frontend/src/components/Layouts/Layout/index.tsx
  frontend/src/components/Layouts/Onboarding Layout/OnboardingLayout.tsx
  frontend/src/components/Layouts/Onboarding Layout/index.tsx
  frontend/src/components/Logo/Logo.tsx
  frontend/src/components/Logo/index.tsx
  frontend/src/images/gameplay.png
  frontend/src/index.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/SignIn.tsx
  frontend/tailwind.config.js
Labels: frontend

#18 I4-44 - Add reset password endpoint
  backend/src/main/java/com/example/user/UserController.java
  backend/src/main/java/com/example/user/UserRepository.java
  backend/src/main/java/com/example/user/UserService.java
Labels: backend

#17 I4-49 - Create endpoint for password change
  backend/src/main/java/com/example/user/UserController.java
  backend/src/main/java/com/example/user/UserService.java
Labels: backend

#22 I4 51 po zalogowaniu nie zostaje utworzone cookie z tokenem
  .idea/vcs.xml
  backend/src/main/java/com/example/config/WebConfig.java
  backend/src/main/java/com/example/user/UserController.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/SignIn.tsx
Labels: bug

#20 I4-47 - Utworzenie strony profilu użytkownika
  backend/src/main/java/com/example/config/WebConfig.java
  backend/src/main/java/com/example/user/UserController.java
  backend/src/main/java/com/example/user/UserService.java
  frontend/src/components/Layouts/Layout/Layout.tsx
  frontend/src/components/Modal/Modal.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/index.tsx
  frontend/src/pages/Profile/ChangeEmail/ChangeEmail.tsx
  frontend/src/pages/Profile/ChangeEmail/index.tsx
  frontend/src/pages/Profile/ChangePassword/ChangePassword.tsx
  frontend/src/pages/Profile/ChangePassword/index.tsx
  frontend/src/pages/Profile/Profile.tsx
  frontend/src/pages/Profile/index.tsx
  frontend/src/pages/Profile/loader.ts
  frontend/src/pages/User/User.tsx
  frontend/src/pages/User/index.tsx
  frontend/src/pages/User/loader.ts
Labels: backend, frontend

#25 I4-52 - Dodaj sprawdzanie JWT na stronie profilu uzytkownika
  backend/src/main/java/com/example/user/UserController.java
  backend/src/main/java/com/example/user/UserService.java
  frontend/src/components/Button/Button.tsx
  frontend/src/pages/Profile/ChangeEmail/ChangeEmail.tsx
  frontend/src/pages/Profile/ChangePassword/ChangePassword.tsx
  frontend/src/pages/Profile/Profile.tsx
  frontend/src/pages/Profile/loader.ts
Labels: backend, frontend

#30 I4-54 - Dodanie możliwości przejścia na profil z poziomu headera po zalogowaniu
  frontend/src/components/shared/Header/Right/Right.tsx
  frontend/src/lib/Fetcher.tsx
Labels: frontend

#32 I4-68 - Dodaj możliwość wylogowania się
  backend/src/main/java/com/example/user/UserController.java
  frontend/src/components/shared/Header/Right/Right.tsx
  frontend/src/pages/Profile/Profile.tsx
Labels: backend, frontend

#27 I4-23 - Resetowanie pozycji postaci unstuck
  backend/src/main/java/com/example/Application.java
  backend/src/main/java/com/example/CustomHikariConfig.java
  backend/src/main/java/com/example/jsonwebtoken/JsonWebToken.java
  backend/src/main/java/com/example/player/Player.java
  backend/src/main/java/com/example/player/PlayerConfig.java
  backend/src/main/java/com/example/player/PlayerController.java
  backend/src/main/java/com/example/player/PlayerRepository.java
  backend/src/main/java/com/example/player/PlayerService.java
  backend/src/main/java/com/example/user/UserConfig.java
  backend/src/main/resources/application.properties
  frontend/src/pages/Profile/Profile.tsx
Labels: backend, frontend

#34 I4-63 - Utwórz stronę z rankingiem bez pobierania danych
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/index.tsx
  frontend/src/components/shared/Header/Header.tsx
  frontend/src/components/shared/Header/Navbar.tsx
  frontend/src/index.tsx
  frontend/src/pages/Rankings.tsx
Labels: frontend
